@nutanix-ui:registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:_password=${BASE64_APIKEY}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:username=${EMAIL}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:email=${EMAIL}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:always-auth=true
registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:ca[]=${ROOT_CA}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:ca[]=${INTERMEDIATE_CA}
optional=false
tmp=npm_tmp
always-auth=true
email=${EMAIL}
ca[]=${ROOT_CA}
ca[]=${INTERMEDIATE_CA}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:_auth=${AUTH}